### Build ###
target/
!**/src/main/**/target/
!**/src/test/**/target/

build/
!**/src/main/**/build/
!**/src/test/**/build/
.gradle/
out/
bin/

### Maven ###
!.mvn/wrapper/maven-wrapper.jar

## IntelliJ
.idea/
*.iml
*.iws
*.ipr
*.ids
.idea_modules/

## VS Code
.vscode/

## STS
.apt_generated
.springBeans
.sts4-cache

### Another ###
application.properties
application.yml
application-*.properties

#Logs
*.log
*.tmp
*.swp

# System files
.DS_Store
Thumbs.db